@inherits AlmaIt.Dotnet.Heroes.Client.Shared.MainLayoutBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <!-- <div class="top-row px-4">
        <a href="/login" target="_blank" class="ml-md-auto">Login</a>
    </div> -->

    <div class="content px-4 d-flex flex-column">
        @(this.Body)
    </div>
</div>
