@inherits AlmaIt.dotnet.Heroes.Client.Shared.NavMenuBase

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Heroes</a>
    <span style="color:white;font-size:small;">[state=@this.AppState.IsLoggedin]</span>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class=@(this.collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="collection">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Collection
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wishlist">
                <span class="oi oi-task" aria-hidden="true"></span> Wishlist
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </li>
    </ul>
</div>
