
src/AlmaIt\.dotnet\.Heroes\.Client/bin/

src/AlmaIt\.dotnet\.Heroes\.Client/obj/

src/AlmaIt\.dotnet\.Heroes\.Server/bin/

src/AlmaIt\.dotnet\.Heroes\.Server/obj/

src/AlmaIt\.dotnet\.Heroes\.Shared/obj/

src/AlmaIt\.dotnet\.Heroes\.Shared/bin/

src/AlmaIt\.dotnet\.Heroes\.Server/Data/Heroes\.db

src/AlmaIt\.dotnet\.Heroes\.Server/Data/claims\.json
