@page "/collection"

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Collection</li>
  </ol>
</nav>

<h1>Browse Comics Collection</h1>

<div class="container text-center">
    <div class="row">
        <div class="col-md-6">
            <a href="/collection/comics" class="tile purple">
                <h3 class="title"><span class="oi oi-layers" aria-hidden="true"></span> By Comics</h3>
                <p>See all comic books</p>
            </a>

        </div>
        <div class="col-md-6">
            <a href="/collection/series" class="tile green">
                <h3 class="title"><span class="oi oi-task" aria-hidden="true"></span> By series</h3>
                <p>See all known series</p>
            </a>
        </div>
    </div>
</div>