@using AlmaIt.dotnet.Heroes.Shared.Models
@page "/settings"

<h1>Application Settings</h1>

<div class="container text-center">
    <div class="row">
        <div class="col-md-4">
            <a href="/settings/series" class="tile purple">
                <h3 class="title"><span class="oi oi-layers" aria-hidden="true"></span> Series</h3>
                <p>Manage comic book Series</p>
            </a>

        </div>
        <div class="col-md-4">
            <a href="/settings" class="tile green">
                <h3 class="title"><span class="oi oi-task" aria-hidden="true"></span> Coming soon</h3>
                <p>Winter is coming</p>
            </a>
        </div>
    </div>
</div>