@using AlmaIt.dotnet.Heroes.Client.ViewModel.Enumeration
@using AlmaIt.dotnet.Heroes.Client.Components
@page "/wishlist"

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
  </ol>
</nav>

<h1>My Wishlist</h1>
<p>
    <AddComic ComicBookAdded="@(this.OnCollectionChanged)"/>
</p>

<p>
    <ComicsBrowser ref="comicsBrowser" browserType="@ComicsBrowserType.Wishlist"/>
</p>

@functions {
    ComicsBrowser comicsBrowser;

    protected async Task OnCollectionChanged(bool success)
    {
        if(success)
            await this.comicsBrowser.ReloadDataList();

        this.StateHasChanged();
    }
}