@inherits AlmaIt.Dotnet.Heroes.Client.ViewModel.Components.TopAlertMessageBase
@using AlmaIt.Dotnet.Heroes.Shared.Extensions

@if(!string.IsNullOrEmpty(this.Message))
{
    <div class="alert alert-@this.AlertType.GetEnumDescription() alert-dismissible fade show" role="alert">
        @this.Message
    </div>
}