@using AlmaIt.Dotnet.Heroes.Client.ViewModel.Enumeration
@using AlmaIt.Dotnet.Heroes.Shared.Extensions

@if(!string.IsNullOrEmpty(this.Message))
{
    <div class="alert alert-@this.AlertType.GetEnumDescription() alert-dismissible fade show" role="alert">
        @this.Message
    </div>
}

@functions {
    [Parameter]
    protected string Message { get; set; }

    [Parameter]
    protected AlertType AlertType { get; set; }
}