@using AlmaIt.dotnet.Heroes.Client.ViewModel.Enumeration
@using AlmaIt.dotnet.Heroes.Client.Pages.Components
@page "/collection/comics"

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/collection">Collection</a></li>
    <li class="breadcrumb-item active" aria-current="page">Collection by Comics</li>
  </ol>
</nav>

<div class="row">
    <div class="col-md-6">
        <h1>Comic Books collection</h1>
    </div>
    <div class="col-md-2 offset-md-4">
        <a href="/collection/series">Switch to series</a>
    </div>
</div>


<p> <AddComicComponent ComicBookAdded="@OnCollectionChanged"/></p>

<p>
    <ComicsBrowserComponent ref="comicsBrowser" browserType="@ComicsBrowserType.Collection"/>
</p>

@functions {
    ComicsBrowserComponent comicsBrowser;

    protected async Task OnCollectionChanged(bool success)
    {
        if(success)
            await comicsBrowser.ReloadDataList();

        StateHasChanged();
    }
}
