@using AlmaIt.dotnet.Heroes.Client.ViewModel.Enumeration
@page "/collection/comics"
@inject HttpClient Http

<h1>Comic Books collection</h1>
<p>
    <AddComicComponent ComicBookAdded="@OnCollectionChanged"/>
</p>

<p>
    <ComicsBrowserComponent browserType="@ComicsBrowserType.Collection"/>
</p>

@functions {
    protected async Task OnCollectionChanged(bool success)
    {
        if(success)
            await OnInitAsync();

        StateHasChanged();
    }
}
