@using AlmaIt.Dotnet.Heroes.Client.ViewModel.Enumeration
@using AlmaIt.Dotnet.Heroes.Client.Components
@page "/collection/comics"

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/collection">Collection</a></li>
    <li class="breadcrumb-item active" aria-current="page">Collection by Comics</li>
  </ol>
</nav>

<div class="row">
    <div class="col-md-6">
        <h1>Comic Books collection</h1>
    </div>
    <div class="col-md-2 offset-md-4">
        <a href="/collection/series">Switch to series</a>
    </div>
</div>


<p> <AddComic ComicBookAdded="@OnCollectionChanged"/></p>

<p>
    <ComicsBrowser ref="comicsBrowser" browserType="@ComicsBrowserType.Collection"/>
</p>

@functions {
    ComicsBrowser comicsBrowser;

    protected async Task OnCollectionChanged(bool success)
    {
        if(success)
            await this.comicsBrowser.ReloadDataList();

        this.StateHasChanged();
    }
}
